/** ALL **/

.App{
  width: 100%;
  height: 100vh;
}

.userName{
  color: #4a4a4a;
  font-size: 34px;
}

.nickName{
  color: #8a8a8a;
  font-size: 28px;
}
/** PAGE **/
/* PAGE index */
.login{
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
}

.Oval-Copy{
  width: 86.8vw;
  height: 86.8vw;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #eb8256;
  border-radius: 50%;
}

.Oval-Copy p{
  color: #ffffff;
}

.Oval-Copy .title{
  line-height: 1.5;
  position: absolute;
  left: 28vw;
  top: 32vh;
  color: #fafafa;
}

.Oval-Copy .CH-Title{
  font-size: 35px;
}

.Oval-Copy .EN-Title{
  font-size: 20px;
}

.Oval-Copy .desh{
  width: 52px;
  height: 8px;
  background-color: #033793;
  position: absolute;
  left: 74.5vw;
  top: 34.5vh;
}

.Oval{
  width: 47vw;
  height: 47vw;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: #54868c;
  border-radius: 50%;
}


#IPATH{
  width: 43.8vw;
  height: 5vh;
  font-family: SFProDisplay;
  font-size: 35pt;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 5px;
  text-align: right;
  color: #fafafa;
  position: fixed;
  left: 28.6vw;
  top: 31.9vh;
}

/* Page Profile */
.profile{
  height: 100vh;
  text-align: center;
}

.profile .userImg{
  width: 31.5vw;
  height: 31.5vw;
  border-radius: 50%;
  border: solid 10px #ffffff;
  position: relative;
  z-index: 2;
}

.profile .userInfo{
  width: 100%;
  margin-top: 5vh;
  line-height: 1.5;
}

.topBody{
  width: 100%;
  height: 15vw;
  background-color: #ffffff;
  position: absolute;
}

.porfile .innerBoby{
  height: 46.5vh;
  background-color: #e8e8e8;
  text-align: center;
  position: relative;
}

.bottomBody{
  width: 100%;
  height: 20vh;
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 10.5vh;
}

.bottomBody .userPoint{
  margin-top: 6vh;
}

.bottomBody p{
  font-size: 26px;
  color: #4a4a4a;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.bottomBody .point{
  color: #d04b00;
}

.bottomBody .dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d04b00;
  display: inline-block;
}

/* EVENT PAGE */
.event .innerBoby{
  height: 54.5vh;
  background-color: #e8e8e8;
  text-align: center;
  position: relative;
}

.event .innerBoby .innerTitle{
  width: 100%;
  font-size: 27px;
  position: absolute;
  top: 5vh;
}

/** COMPONENT **/
/* Nav */
.Nav{
  width: 100vw;
  height: 23vh;
  text-align: center;
  background-color: #ffffff;
}

.Nav p{
  position: relative;
  top: 50%;
  font-size: 35px;
}

/* footer */
.footer{
  width: 100vw;
  height: 10.5vh;
  background-color: #54868c;
  position: fixed;
  bottom: 0px;
  text-align: center;
  padding-top: 3vh;
}

.footer-item-block {
  width: 30%;
  height: 10vw;
  display: inline-block;
  position: relative;
}

.footer-item-block img {
  width: 4vw;
  height: 4vw;
}

.footer-item-block p {
  font-size: 19px;
}