/* PAGE index */
#Oval-Copy{
  width: 86.8vw;
  height: 86.8vw;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #eb8256;
  border-radius: 50%;
}

#Oval{
  width: 47vw;
  height: 47vw;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: #54868c;
  border-radius: 50%;
}

#Oval_in{
  width: 28vh;
  height: 28vh;
  position: fixed;
  right: 87.9vw;
  top: 47.8vh;
  background-color: #ffffff;
  border-radius: 50%;
}

#IPATH{
  width: 43.8vw;
  height: 5vh;
  font-family: SFProDisplay;
  font-size: 35pt;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 5px;
  text-align: right;
  color: #fafafa;
  position: fixed;
  left: 28.6vw;
  top: 31.9vh;
}

/* Nav */
.Nav{
  width: 100%;
  height: 23.2vh;
  text-align: center;
  position: relative;
}

.Nav h1{
  position: relative;
  top: 50%;
}

/* footer */
.footer{
  width: 100%;
  height: 10.5vh;
  background-color: #54868c;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

.footer-item-block {
  width: 30%;
  height: 10vw;
  display: inline-block;
  position: relative;
  top: 18.5%;
}